<ion-header>
  <ion-toolbar color="mycolor">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="inicio"></ion-back-button>
        </ion-buttons>
      <ion-img src="https://upload.wikimedia.org/wikipedia/commons/thumb/a/aa/Logo_DuocUC.svg/2560px-Logo_DuocUC.svg.png"></ion-img>
  </ion-toolbar>
  </ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>No Camara</ion-card-title>
    </ion-card-header>
    <ion-img src="https://i.imgflip.com/64sz4u.png?a463128" ></ion-img>
    <ion-card-content>      
    </ion-card-content>
  </ion-card>
</ion-content>
