ion-toolbar{
  text-align : center ;
  padding-top : 20px ;
  padding-bottom : 20p
}
ion-toolbar{
  background-color: var(--ion-color-mycolor);
}
#container {
 text-align: center;

 position: absolute;
 left: 0;
 right: 0;
 top: 40%;
 transform: translateY(-50%);
}